<div class='main-root'>
    <div>
        <p class="step">Step 1: Create new project</p>
        <p class="content">
            For getting started with a new project,check out the <a href="http://39.108.124.75:3333">frontend-errlog</a>,<br>            Frist: <a href="http://39.108.124.75:3333/join">Create a profile</a> or <a href="http://39.108.124.75:3333/login">login</a><br>            Second: <a href="http://39.108.124.75:3333/preview">Create a new project</a> ,which will return a new projectId
        </p>
    </div>
    <div>
        <p class="step">Step 2: Install frontend-errlog</p>
        <p class="content">npm install --save frontend-errlog</p>
    </div>
    <div>
        <p class="step">Step 3: Construct an instance of the FrontendErrLog class</p>
        <div>
            <pre class="pre-code">
                <code class="javascript">{{example}}</code>
            </pre>
        </div>
    </div>
</div>