<header>
    <nav class="header-nav">
        <ul class="header-nav-ul">
            <li class="header-nav-ul-li">
                <a routerLink="/home" routerLinkActive="active" class="header-nav-ul-li-a">Home</a>
            </li>
            <li class="header-nav-ul-li">
                <a routerLink="/preview" routerLinkActive="active" class="header-nav-ul-li-a">Collections</a>
            </li>
            <li class="header-nav-ul-li">
                <a routerLink="/login" routerLinkActive="active" class="header-nav-ul-li-a">Login</a>
            </li>
            <li class="header-nav-ul-li">
                    <a routerLink="/join" routerLinkActive="active" class="header-nav-ul-li-a">Join</a>
                </li>
        </ul>
    </nav>
    <div class="header-placehoder"></div>
</header>
<router-outlet></router-outlet>